# Ignore everything
/*

# Not .gitignore
!.gitignore
!package.json
!gulpfile.js

# Not folder themes
!/themes

# Ingnore all themes except connections
themes/*
!themes/connections


# Not folder plugins
#!/plugins

# Ingnore all plugins except plugin_name
#plugins/*
#!plugins/plugin_name