# Ignore everything
/*

# Not .gitignore
!.gitignore
!package.json
!gulpfile.js

# Not folder themes
!/themes

# Ingnore all themes except connections
themes/*
!themes/connections


# Not folder plugins
!/plugins

# Ingnore all plugins except connections-theme-plugin
plugins/*
!plugins/connections-theme-plugin
!plugins/easy-tables-connections