.cn-accordion {
  position: relative;
}

.cn-accordion-item__title-wrap {
  display: flex;
  justify-content: space-between;
}

.cn-accordion-item__title {
  position: relative;
  padding: 5px 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  width: calc(100% - 40px);
  z-index: 1;
  color: var(--p_main_color_2);
}

.cn-accordion-item__icon {
  display: flex;
  right: 10px;
  width: 40px;
  height: 40px;
  color: var(--p_main_color_2);
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.cn-accordion-item__content {
  padding: 0;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.cn-accordion-item__content .cn-content-block {
  padding: 25px 10px 15px;
}
