.cn-banner{
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 70px 15px;
  position: relative;
  min-height: 200px;

}
.cn-banner-height--50{
  height: 50vh;
  padding: 50px 15px;
}
.cn-banner-height--33{
  height: 33vh;
  padding: 30px 15px;
  .cn-banner__overlay_img{
    background-size: cover;
  }
}
.cn-banner-height--25{
  height: 25vh;
  padding: 20px 15px;
  .cn-banner__overlay_img{
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .cn-banner, .cn-banner-height--50,
  .cn-banner-height--33, .cn-banner-height--25{
    height: auto;
    padding: 50px 15px 120px;
  }
}
.cn-banner__title{
  position: relative;
  font-size: 60px;
  line-height: 60px;
  text-align: right;
  margin: 0;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .cn-banner__title{
    font-size: 48px;
    line-height: 48px;
  }
}
.cn-banner__subtitle{
  position: relative;
  margin: 10px 0 0;
  text-align: right;
  z-index: 2;
}
.cn-banner__overlay_img{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .cn-banner__overlay_img{
    height: 100px;
  }
}