.cn-main-wrap{
  overflow: hidden;
}
.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "\f00d";
}
/* ------------------------------------------- */
/* HEADER ELEMENTS */
/* ------------------------------------------- */
.cn-header__wrapp {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.cn-header__search {
  position: relative;
  padding-right: 32px;
}

.cn-header__search:not(.is-active) .search-form {
  pointer-events: none;
}

.cn-header__search .search-form {
  overflow: hidden;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .cn-header__search .search-form {
    width: 200px;
  }
}

.cn-header__search .search-form > label {
  display: block;
}

.cn-header__search .search-field {
  width: 320px;
  height: 40px;
  padding: 10px;
  border: 2px solid  var(--primary_color_3);
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  background: var(--primary_color_2);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  color: var(--primary_color1);
  &::placeholder{
    opacity: 0.99;
  }
}

@media screen and (max-width: 767px) {
  .cn-header__search .search-field {
    width: 200px;
  }
}

.cn-header__search .search-submit {
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  min-width: auto;
  color: transparent;
  background-size: 16px 16px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  display: none;
  cursor: pointer;
  background-color: var(--primary_color_3);
  border-color: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.cn-header__search .search-submit:hover, .cn-header__search .search-submit:focus {
  border-color: transparent;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cn-header__search.is-active .search-field {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}
.cn-header__search.is-active .search-field:focus {
  outline: none;
}

.cn-header__search.is-active .search-submit {
  opacity: 1;
  visibility: visible;
  display: block;
}
.cn-header__search.is-active .search-submit:focus {
  outline: none;
}
.cn-header__search.is-active .cn-header__search__icon {
  opacity: 0;
  visibility: hidden;
}

.cn-header__search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  background: inherit;
  border-radius: 20px;
  background-color: var(--primary_color_3);
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.cn-header__search__icon .fa {
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
  color: #ffffff;
}

.cn-menu-btn {
  display: block;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  outline: none;
  cursor: pointer;
  background-color: var(--primary_color_3);
}

.cn-menu-btn:hover, .cn-menu-btn:focus {
  outline: none;
}

.cn-menu-btn:hover i:before, .cn-menu-btn:focus i:before {
  top: -8px;
}

.cn-menu-btn:hover i:after, .cn-menu-btn:focus i:after {
  top: 8px;
}

.cn-menu-btn i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: #ffffff;
}

.cn-menu-btn i:before, .cn-menu-btn i:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: top 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: top 0.3s ease-out, transform 0.3s ease-out;
  transition: top 0.3s ease-out, transform 0.3s ease-out;
  transition: top 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background-color: #ffffff;
  content: "";
}

.cn-menu-btn i:before {
  top: -6px;
}

.cn-menu-btn i:after {
  top: 6px;
}

.cn-menu-btn--active:hover i:before, .cn-menu-btn--active:hover i:after, .cn-menu-btn--active:focus i:before, .cn-menu-btn--active:focus i:after {
  top: 0;
}

.cn-menu-btn--active i {
  background-color: transparent !important;
}

.cn-menu-btn--active i:before, .cn-menu-btn--active i:after {
  top: 0;
  height: 4px;
  border-radius: 3px;
}

.cn-menu-btn--active i:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cn-menu-btn--active i:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cn-breadcrumbs {
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 0 15px;
}

@media screen and (max-width: 767px) {
  .cn-breadcrumbs {
    display: none;
  }
}

@media (max-width: 992px) {
  .cn-breadcrumbs {
    font-size: 18px;
  }
}


.cn-breadcrumbs a:hover, .cn-breadcrumbs a:focus {
  text-decoration: none;
}


/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */
.cn-header {
  position: relative;
  z-index: 3000;
  background-color: var(--primary_color_1);

}

.cn-header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .cn-header.cn-header--btn-logo .cn-header__nav-panel {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0;
  }
}

@media screen and (max-width: 575px) {
  .cn-header.cn-header--btn-logo .cn-header__help-panel {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.cn-header__wrapp {
  position: relative;
  z-index: 6;
}

@media screen and (max-width: 767px) {
  .cn-header__wrapp {
    padding: 0;
  }
}

.cn-header__nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cn-header__help-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cn-header__help-btn{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  &:focus{
    outline: none;
  }
  i{
    color: #ffffff
  }
}
.cn-header__help-btn .fa {
  font-size: 16px;
}

.cn-header__help-btn.is-active img {
  display: none;
}

.cn-header__help-btn.is-active .fa-close {
  display: block;
}

.cn-header__help-btn .fa-close {
  display: none;
}

.cn-header__help-btn img {
  border-radius: 50%;
}

.cn-header__nav {
  position: absolute;
  top: calc(100% + 0px);
  left: 15px;
  width: 390px;
  max-width: 100%;
  -webkit-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  transform: translateX(-300%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: var(--primary_color_3);
  z-index: 2;
  min-height: 550px;
  overflow-x: hidden;
  ul{
    margin: 0;
    padding: 0;
    li{
      padding: 15px;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: var(--primary_color_1);
      &::after{
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        height: 1px;
      }
      &.current-menu-item, &:hover{
        background-color: var(--primary_color_2);
        color: #ffffff;
      }
      a{
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        text-decoration: inherit;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cn-header__nav {
    left: 0;
    z-index: 9999;
    min-height: auto;
  }
}

.cn-header__nav--active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cn-header__sidebar {
  position: absolute;
  top: calc(100% + 0px);
  right: 15px;
  width: 320px;
  max-width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-transform: translateX(300%);
  -ms-transform: translateX(300%);
  transform: translateX(300%);
  border: 1px solid #cccccc;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: #F2F2F2;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .cn-header__sidebar {
    right: 0;
  }
}

.cn-header__sidebar.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cn-header__sidebar-inner {
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 50px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1199px) {
  .cn-header__sidebar-inner {
    padding-bottom: 80px;
  }
}

.cn-header__inner {
  overflow: hidden;
  -webkit-transition: height 350ms ease;
  -o-transition: height 350ms ease;
  transition: height 350ms ease;
}

.cn-header__links {
  margin-top: 60px;
}

.cn-header__sidebar-items {
  padding: 10px;
}

.cn-header .menu {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  position: relative;
  overflow: visible;
}

.cn-header .menu .menu-item-has-children > a {
  padding-left: 40px;
}
.cn-header .menu .menu-item-has-children > a span {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--primary_color_1);
  font-size: 30px;
  overflow: visible;
  &:hover{
    color: #ffffff;
  }
}

.cn-header .sub-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 0px);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  overflow: visible;
}

.cn-header .sub-menu.active {
  opacity: 1;
  visibility: visible;
}

.cn-header .sub-menu.active li:first-child a {
  visibility: hidden;
}

.cn-header .sub-menu.active li:first-child .fa {
  position: relative;
}

.cn-header li.clone-menu-item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cn-header li.clone-menu-item span {
  display: inline-block;
  padding: 0 5px 0 15px;
  color: #ffffff;
  font-size: 36px;
  cursor: pointer;
  vertical-align: middle;
}
.cn-header li.clone-menu-item span.fa {
  position: absolute!important;
  padding: 0;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: var(--primary_color_1);
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;
  &:hover{
    color: #ffffff;
  }
}
.cn-header li.clone-menu-item span::before {
  color: #ffffff;
}

.cn-header li.clone-menu-item .back-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 45px;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  color: #ffffff;
}

.cn-header li.clone-menu-item a {
  display: inline-block;
  vertical-align: middle;
}

.cn-header li.clone-menu-item a span {
  display: none;
}

.cn-glossary-item {
  position: relative;
  padding: 30px 10px;
}

.cn-glossary-item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.cn-glossary-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cn-glossary-item__header + .cn-glossary-item__desc {
  margin-top: 20px;
}

.cn-glossary-item__audio-box {
  position: relative;
  margin-left: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.cn-glossary-item__title {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  text-transform: none;
}

.cn-glossary-item__desc {
  font-family: 'Montserrat',  sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin-top: 10px !important;
  p{
    margin-bottom: 0;
  }
}

.cn-glossary-item__audio {
  margin-top: 0;
  position: absolute;
  top: 0;
  opacity: 0.000000001;
  cursor: pointer;
}

.cn-glossary-item__audio--full {
  width: calc(100% - 20px);
  height: 100%;
}

.cn-glossary-item .cn-btn-play .fa {
  font-size: 40px;
  color: var(--primary_color_2)
}

.cn-glossary-item .cn-btn-play.player-init .fa:before {
  content: "\f04c";
  vertical-align: middle;
}

.cn-header-clone {
  height: 51px;
}

/* ADMIN BAR */
.admin-bar .cn-header--fixed {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .cn-header--fixed {
    top: 46px;
  }
}

@media screen and (max-width: 600px) {
  div[id="wpadminbar"] {
    position: fixed !important;
  }
}