/* ------------------------------------------- */
/* SEARCH */
/* ------------------------------------------- */


.cn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cn-search__top, .cn-search__bottom {
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  .cn-search__top, .cn-search__bottom {
    padding: 25px 0;
  }
}

.cn-search__top {
  background-color: var(--bg_main_color_2);
}
.cn-search__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-top: 1px solid var(--bg_main_color_2);
  overflow-y: auto;
}

.cn-search__title {
  font-size: 28px;
  font-weight: 600;
  span{
    color: var(--primary_color_3);
  }
}

.cn-search__item {
  padding: 25px 0;
}

.cn-search__item:first-child {
  padding-top: 0;
}

.cn-search__item:last-child {
  padding-bottom: 0;
}

.cn-search__item:not(:last-child) {
  border-bottom: 1px solid var(--bg_main_color_2);
}

.cn-search-form .search-field,
.cn-search-form .search-submit {
  margin: 5px 0;
}

.cn-search-form .search-field {
  width: 290px;
  margin-right: 10px;
}

.cn-search-item__title {
  margin-bottom: 0;
}

.cn-search-item__title a {
  text-decoration: none;
}

.cn-search-item__title a:hover, .cn-search-item__title a:focus {
  text-decoration: none;
}

.cn-search-item__cats {
  font-size: 0;
}

.cn-search-item__cats, .cn-search-item__author {
  margin-top: 10px;
  padding: 0;
}

.cn-search-item__cats-item, .cn-search-item__author {
  font-size: 14px;
}

.cn-search-item__cats-item {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.cn-search-item__cats-item:not(:last-child):after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  content: "|";
}

.cn-search-item__cats-item-title {
  font-weight: 400;
}

.cn-search-item__author {
  font-weight: 700;
}

.cn-search-item__author a, .cn-search-item__author .author, .cn-search-item__author .date,
.cn-asset a{
  font-weight: 400;
  text-decoration: none;
  color: var(--primary_color_1);
}

.cn-search-item__text {
  margin-top: 5px;
}

.cn-pagination {
  margin-top: 25px;
  text-align: center;
}

.cn-pagination .page-numbers {
  margin: 0 3px;
  text-decoration: none;
}
.cn-pagination a {
  color: var(--primary_color_3);
}
