//ACCORDION

.cn-accordion {
  position: relative;
}

.cn-accordion-item__title-wrap {
  display: flex;
  justify-content: space-between;
}

.cn-accordion-item__title {
  position: relative;
  padding: 5px 30px;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  width: calc(100% - 40px);
  z-index: 1;
  color: var(--p_main_color_2);
}

.cn-accordion-item__icon {
  display: flex;
  right: 10px;
  width: 40px;
  height: 40px;
  color: var(--p_main_color_2);
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.cn-accordion-item__content {
  padding: 0;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.cn-accordion-item__content .cn-content-block {
  padding: 25px 10px 15px;
}
 // ASSET LIBRARY

.cn-asset__row {
  display: flex;
  flex-wrap: wrap;
}

.cn-asset-library-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
}

.cn-asset-library {
  h2 {
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .cn-asset-library {
    h2 {
      text-align: center;
      padding-top: 15px;
    }
  }
}

.sidebar-fixed-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cn-asset-library__nav .sidebar-fixed-bottom {
  margin-bottom: 50px;
}

.sidebar-fixed-top .cn-asset-library__nav {
  position: fixed;
  top: 50px;
  max-width: 260px;
  width: 100%;
}

.cn-asset-library__col--left {
  display: none;
  background-color: var(--primary_color_3);
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  .cn-asset-library__nav-item {
    width: 100%;
    list-style: none;
    border-bottom: 1px solid var(--p_main_color_2);
    transition: 0.5s;

    a {
      display: block;
      padding: 15px 30px;
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: var(--p_main_color_2);
      text-decoration: none;
    }

    &:hover {
      background-color: var(--primary_color_2);
    }
  }
}

.cn-asset-library__col--right {
  padding: 15px 15px 30px;
}

.cn-asset-library__nav-col {
  .cn-asset-library__row {
    display: flex;
  }

  .cn-asset-library__col--left {
    display: block;
    width: 260px;
  }

  .cn-asset-library__col--right {
    flex-grow: 1;
    padding: 15px 260px 30px 15px;

  }
}

@media screen and (max-width: 1399px) {
  .cn-asset-library__nav-col .cn-asset-library__col--right {
    padding: 15px 15px 30px 15px;
  }
}

@media screen and (max-width: 1199px) {
  .sidebar-fixed-top .cn-asset-library__nav {
    max-width: 240px;
  }
  .cn-asset-library__nav-col .cn-asset-library__col--left {
    width: 240px;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-fixed-top .cn-asset-library__nav {
    max-width: 195px;
  }
  .cn-asset-library__nav-col .cn-asset-library__col--left {
    width: 195px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-fixed-top .cn-asset-library__nav {
    max-width: 100%;
  }
  .cn-asset-library__nav-col .cn-asset-library__col--left {
    width: 100%;
  }
  .cn-asset-library__nav-col .cn-asset-library__col--right {
    width: 100%;
  }
  .cn-asset-library__row {
    flex-wrap: wrap;
  }
}

.cn-asset__item {
  position: relative;
}

.cn-asset__row-2 {
  .cn-asset__item {
    width: 50%;
  }
}

.cn-asset__row-3 {
  .cn-asset__item {
    width: 33%;
  }
}

.cn-asset__row-4 {
  .cn-asset__item {
    width: 25%;
  }
}

@media screen and (max-width: 991px) {
  .cn-asset__row-4 {
    .cn-asset__item {
      width: 33%;
    }
  }
}

@media screen and (max-width: 767px) {
  .cn-asset__row-4, .cn-asset__row-3, .cn-asset__row-2 {
    .cn-asset__item {
      width: 50%;
    }
  }
}

@media screen and (max-width: 520px) {
  .cn-asset__row-4, .cn-asset__row-3, .cn-asset__row-2 {
    .cn-asset__item {
      width: 100%;
    }
  }
}

.cn-asset-item__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--primary_color_2);
  color: var(--p_main_color_2);

  img {
    max-width: 40px;
  }

  i {
    color: var(--p_main_color_2);
  }

  span {
    font-size: 45px;
  }
}

.cn-asset-item__icon-state {
  display: none;
}

.player-init .cn-asset-item__icon-state {
  display: inline-block;
}

.player-init span,
.player-init .cn-asset-item__icon,
.player-freezed span,
.player-freezed .cn-asset-item__icon {
  display: none;
}

.cn-asset-item__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  color: var(--primary_color_1);
  font-size: 22px;
  margin-top: 15px;

  &-underline {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    line-height: 1.5em;
  }
}

.cn-asset-item__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;

  &:focus {
    outline: none;
  }
}

iframe {
  width: 70vw;
  height: 90vh;
}

.cn-asset__link {
  display: table;
  padding: 8px 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  border: 2px solid var(--primary_color_1);
  color: var(--primary_color_1);
  text-decoration: none;
  margin: 30px auto 0;

  &:visited {
    color: var(--primary_color_1);
  }
}

.mfp-container {
  background-color: var(--p_main_color_2);
}

.mfp-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cn-popup-wrap.image {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.cn-content-wrapp--height-auto {
  padding-top: 0;
}

.cn-content-wrapp  {
  position: relative;
}

.asset-pdf,
.asset-video,
.asset-html,
.asset-image,
.asset-iframe {
  .mfp-close, .mfp-close-btn-in .mfp-close {
    position: absolute;
    top: 85px;
    right: 30px;
    color: var(--p_main_color_2);
    background-color: var(--primary_color_1);
    width: 30px;
    height: 30px;
    opacity: 1;
    min-width: auto;
    line-height: 32px;
  }
}

// BANNER
.cn-banner{
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 70px 15px;
  position: relative;
  min-height: 200px;

}
.cn-banner-wrap  {
  max-width: 1200px;
  margin: 0 auto;
}
.cn-banner-height--50{
  height: 50vh;
  padding: 50px 15px;
}
.cn-banner-height--33{
  height: 33vh;
  padding: 30px 15px;
  .cn-banner__overlay_img{
    background-size: cover;
  }
}
.cn-banner-height--25{
  height: 25vh;
  padding: 20px 15px;
  .cn-banner__overlay_img{
    background-size: cover;
  }
}
@media screen and (max-width: 767px) {
  .cn-banner, .cn-banner-height--50,
  .cn-banner-height--33, .cn-banner-height--25{
    height: auto;
    padding: 50px 15px 120px;
  }
}
.cn-banner__title{
  position: relative;
  font-size: 60px;
  line-height: 60px;
  text-align: right;
  margin: 0;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .cn-banner__title{
    font-size: 48px;
    line-height: 48px;
  }
}
.cn-banner__subtitle{
  position: relative;
  margin: 10px 0 0;
  text-align: right;
  z-index: 2;
}
.cn-banner__overlay_img{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .cn-banner__overlay_img{
    height: 100px;
  }
}

//COLLOUT
.cn-callout {
  background-size: cover;
  background-position: center;
  padding: 100px 15px;
  position: relative;
}
.cn-callout-wrap {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .cn-callout {
    padding: 50px 15px;
  }
}
.cn-callout__overlay_img{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100%;
  background-repeat: round no-repeat;
  background-size: contain;
  background-position: bottom left;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .cn-callout__overlay_img{
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.cn-callout__title{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin: 0;
  z-index: 2;
}
.cn-callout__subtitle{
  position: relative;
  margin: 10px 0 0;
  text-align: center;
  z-index: 2;
}

// CONTENT BLOCK
.cn-content-block {
  padding: 15px;
  .cn-content-block-wrap{
    max-width: 1200px;
    margin: 0 auto;
  }
  .title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 0;

    &-underline {
      border-bottom-style: solid;
      border-bottom-width: 2px;
      line-height: 1.5em;
    }
  }
  .content-block{
    .title{
      display: none;
    }
  }
  .text{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
  }
  .text p {
    margin: 0;
  }

}

@media screen and (max-width: 991px) {
  .cn-content-block {
    .content-block{
      order: 2;
    }
    .media-block{
      order: 1;
    }
  }
}
@media screen and (max-width: 767px) {
  .cn-content-block {
    padding: 25px 10px;

    .title {
      font-size: 36px;
      display: none;
    }
    .content-block{
      .title{
        display: block;
      }
    }
  }
}

.cn-content-block__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  max-width: calc(100% + 20px);
}

.cn-content-block__row--100 {
  text-align: center;
}

.cn-content-block__row--100 .cn-content-block__col--top + .cn-content-block__col--bottom {
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .cn-content-block__row--100 .cn-content-block__col--top + .cn-content-block__col--bottom {
    margin-top: 20px;
  }
}

.cn-content-block__row--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.cn-content-block__col {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .cn-content-block__col {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 100% !important;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}

.cn-content-block__col--top, .cn-content-block__col--bottom {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .cn-content-block__col--left + .cn-content-block__col--right {
    margin-top: 20px;
  }
}

.cn-content-block__video {
  position: relative;
  width: 100%;
}

.cn-content-block__col--bottom .cn-content-block__video-brightcove, .cn-content-block__col--top .cn-content-block__video-brightcove {
  max-width: 50%;
  margin: 0 auto;
}

.cn-content-block__video-brightcove a {
  color: inherit;
}

.cn-content-block__video-brightcove .bcg-play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: .6;
}

.cn-content-block__video-brightcove .bcg-play-btn i {
  font-size: 140px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

@media screen and (max-width: 991px) {
  .cn-content-block__video-brightcove .bcg-play-btn i {
    font-size: 80px;
  }
}

.cn-content-block__video-brightcove .bcg-play-btn i:hover {
  color: var(--primary_color_2);
}

.cn-content-block__video-brightcove .bcg-play-btn.player-init {
  display: none;
}

.img-round {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  padding-bottom: 50%;
  height: 0;

  &.col-3 {
    padding-bottom: 25%;
  }

  &.col-6 {
    padding-bottom: 50%;
  }

  &.col-12 {
    padding-bottom: 100%;
  }

  &.col-9 {
    padding-bottom: 75%;
  }
}

.btn {
  display: table;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  transition: 0.5s;
  margin-top: 50px;

  &.left {
    margin-right: auto;
    margin-left: 0;
  }

  &.right {
    margin-right: 0;
    margin-left: auto;
  }

  &.center {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1200px) {

  .col-3 {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 10px 0;
  }
  .col-9 {
    flex: 0 0 70%;
    max-width: 70%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 991px) {
  .btn {
    padding: 10px 10px;
    margin-top: 30px;
  }
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .col-3 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-6 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 10px 0;
  }
  .img-round {
    &.col-3 {
      padding-bottom: 100%;
    }

    &.col-6 {
      padding-bottom: 100%;
    }

    &.col-12 {
      padding-bottom: 100%;
    }

    &.col-9 {
      padding-bottom: 100%;
    }
  }
}
// FEATURED LINKS

.cn-featured-links{
  padding: 15px;
  background-size: cover;
}
.cn-featured-links-wrap{
  max-width: 1200px;
  margin: 0 auto;
}
.cn-featured-links__title{
  margin: 0;
  line-height: 1.5em;
  &-underline{
    border-bottom-width: 2px;
    border-bottom-style: solid;
  }
}
.cn-featured-links__subtitle{
  margin: 15px 0 0;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}
.cn-featured-links__text{
  font-family:  'Montserrat', sans-serif;
  font-weight: 200;

}

.cn-featured-links__items{
  display: flex;
  flex-wrap: wrap;
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0 0 20px;
  }
  .col-6 {
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    margin: 0 1% 20px;
  }
  .col-4 {
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    max-width: 31%;
    margin: 0 1.1% 20px;
  }
  .col-3 {
    -ms-flex: 0 0 23%;
    flex: 0 0 23%;
    max-width: 23%;
    margin: 0 1% 20px;
  }
}
.cn-featured-links__items__item {
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  padding: 30px 15px;
  .title{
    margin: 0;
    font-size: 28px;
    text-align: center;
    line-height: 1.5em;
  }
  .text{
    margin: 20px 0 0;
  }
  a{
    font-family:  'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    padding: 10px 40px;
    display: table;
    margin: 20px auto 0;
    text-decoration: none;
    transition: 0.5s;
    &:visited{
      color: var(--primary_color_6);
    }
  }
}

@media screen and (max-width: 1200px) {
  .cn-featured-links__items{
    .col-3 {
      -ms-flex: 0 0 31%;
      flex: 0 0 31%;
      max-width: 31%;
      margin: 0 1.1% 20px;
    }
  }
}
@media screen and (max-width: 991px) {
  .cn-featured-links__items{
    .col-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 20px;
    }
    .col-4 {
      -ms-flex: 0 0 48%;
      flex: 0 0 48%;
      max-width: 48%;
      margin: 0 1% 20px;
    }
    .col-3 {
      -ms-flex: 0 0 48%;
      flex: 0 0 48%;
      max-width: 48%;
      margin: 0 1% 20px;
    }
  }
}
@media screen and (max-width: 768px) {
  .cn-featured-links__items{
    .col-4 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 20px;
    }
    .col-3 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 20px;
    }
    .text{
      text-align: center;
    }
  }
}

//HEADER
.cn-footer{
  margin-top: auto;
}
.cn-main-wrap {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fa-close:before, .fa-remove:before, .fa-times:before {
  content: "\f00d";
}

/* ------------------------------------------- */
/* HEADER ELEMENTS */
/* ------------------------------------------- */
.cn-header__wrapp {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.cn-header__search {
  position: relative;
  padding-right: 32px;
}

.cn-header__search:not(.is-active) .search-form {
  pointer-events: none;
}

.cn-header__search .search-form {
  overflow: hidden;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .cn-header__search .search-form {
    width: 200px;
  }
}

.cn-header__search .search-form > label {
  display: block;
}

.cn-header__search .search-field {
  width: 320px;
  height: 41px;
  padding: 8px 10px 8px;
  line-height: normal;
  vertical-align: middle;
  border: 2px solid var(--primary_color_3);
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
  transform: translateX(120%);
  background: var(--primary_color_6);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  color: var(--primary_color1);

  &::placeholder {
    opacity: 0.99;
    line-height: normal;
  }
}

@media screen and (max-width: 767px) {
  .cn-header__search .search-field {
    width: 200px;
  }
}

.cn-header__search .search-submit {
  position: absolute;
  top: 0;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  min-width: auto;
  color: transparent;
  background-size: 16px 16px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  display: none;
  cursor: pointer;
  background-color: var(--primary_color_3);
  border-color: transparent;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.cn-header__search .search-submit:hover, .cn-header__search .search-submit:focus {
  border-color: transparent;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cn-header__search.is-active .search-field {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.cn-header__search.is-active .search-field:focus {
  outline: none;
}

.cn-header__search.is-active .search-submit {
  opacity: 1;
  visibility: visible;
  display: block;
}

.cn-header__search.is-active .search-submit:focus {
  outline: none;
}

.cn-header__search.is-active .cn-header__search__icon {
  opacity: 0;
  visibility: hidden;
}

i.fa.fa-book {
  font-style: italic;

  &.fa-close {
    font-style: normal;
  }
}

.cn-header__search__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  background: inherit;
  border-radius: 20px;
  background-color: var(--primary_color_3);
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.cn-header__search__icon .fa {
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
  color: var(--p_main_color_2);
}

.cn-menu-btn {
  display: block;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  outline: none;
  cursor: pointer;
  background-color: var(--primary_color_3);
}

.cn-menu-btn:hover, .cn-menu-btn:focus {
  outline: none;
}

.cn-menu-btn:hover i:before, .cn-menu-btn:focus i:before {
  top: -8px;
}

.cn-menu-btn:hover i:after, .cn-menu-btn:focus i:after {
  top: 8px;
}

.cn-menu-btn i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 17px;
  height: 3px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
  background-color: var(--p_main_color_2);
}

.cn-menu-btn i:before, .cn-menu-btn i:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: top 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: top 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: top 0.3s ease-out, transform 0.3s ease-out;
  transition: top 0.3s ease-out, transform 0.3s ease-out;
  transition: top 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background-color: var(--p_main_color_2);
  content: "";
}

.cn-menu-btn i:before {
  top: -6px;
}

.cn-menu-btn i:after {
  top: 6px;
}

.cn-menu-btn--active:hover i:before, .cn-menu-btn--active:hover i:after, .cn-menu-btn--active:focus i:before, .cn-menu-btn--active:focus i:after {
  top: 0;
}

.cn-menu-btn--active i {
  background-color: transparent !important;
}

.cn-menu-btn--active i:before, .cn-menu-btn--active i:after {
  top: 0;
  height: 4px;
  border-radius: 3px;
}

.cn-menu-btn--active i:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cn-menu-btn--active i:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cn-breadcrumbs {
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin: 0 0 0 15px;
  color: var(--primary_color_6);
}

@media screen and (max-width: 767px) {
  .cn-breadcrumbs {
    display: none;
  }
}

@media (max-width: 992px) {
  .cn-breadcrumbs {
    font-size: 18px;
  }
}


.cn-breadcrumbs a:hover, .cn-breadcrumbs a:focus {
  text-decoration: none;
}


/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */
.cn-header {
  position: relative;
  z-index: 3000;
  background-color: var(--primary_color_1);

}

.cn-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 575px) {
  .cn-header.cn-header--btn-logo .cn-header__nav-panel {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0;
  }
}

@media screen and (max-width: 575px) {
  .cn-header.cn-header--btn-logo .cn-header__help-panel {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.cn-header__wrapp {
  position: relative;
  z-index: 6;
}

@media screen and (max-width: 767px) {
  .cn-header__wrapp {
    padding: 0;
  }
}

.cn-header__nav-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cn-header__help-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cn-header__help-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  i {
    color: var(--p_main_color_2)
  }
}

.cn-header__help-btn .fa {
  font-size: 16px;
}

.cn-header__help-btn.is-active img {
  display: none;
}

.cn-header__help-btn.is-active .fa-close {
  display: block;
}

.cn-header__help-btn .fa-close {
  display: none;
}

.cn-header__help-btn img {
  border-radius: 50%;
}

.cn-header__nav {
  position: absolute;
  top: calc(100% + 0px);
  left: 0;
  width: 390px;
  max-width: 100%;
  -webkit-transform: translateX(-300%);
  -ms-transform: translateX(-300%);
  transform: translateX(-300%);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: var(--primary_color_6);
  z-index: 2;
  min-height: 550px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 0;

    li {
      padding: 15px;
      position: relative;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      list-style: none;
      font-family: 'Lato', sans-serif;
      color: var(--primary_color_1);

      &::after {
        position: absolute;
        content: '';
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--p_main_color_2);
        height: 1px;
      }

      &.current-menu-item, &:hover {
        background-color: var(--primary_color_2);
        color: var(--p_main_color_2);
      }

      a {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
        color: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        text-decoration: inherit;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .cn-header__nav {
    left: 0;
    z-index: 9999;
    min-height: auto;
  }
}

.cn-header__nav--active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cn-header__sidebar {
  position: absolute;
  top: calc(100% + 0px);
  right: 0;
  width: 320px;
  max-width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-transform: translateX(400%);
  -ms-transform: translateX(400%);
  transform: translateX(400%);
  border: 1px solid #cccccc;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  background-color: #F2F2F2;
  z-index: 1000;
}

@media screen and (max-width: 767px) {
  .cn-header__sidebar {
    right: 0;
  }
}

.cn-header__sidebar.is-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.cn-header__sidebar-inner {
  overflow-y: auto;
  max-height: 100%;
  padding-bottom: 50px;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 1199px) {
  .cn-header__sidebar-inner {
    padding-bottom: 80px;
  }
}

.cn-header__inner {
  overflow: hidden;
  -webkit-transition: height 350ms ease;
  -o-transition: height 350ms ease;
  transition: height 350ms ease;
}

.cn-header__links {
  margin-top: 60px;
}

.cn-header__sidebar-items {
  padding: 10px;
}

.cn-header .menu {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  position: relative;
  overflow: visible;
}

.cn-header .menu .menu-item-has-children > a {
  padding-right: 40px;
}

.cn-header .menu .menu-item-has-children > a span {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: var(--primary_color_1);
  font-size: 30px;
  overflow: visible;

  &:hover {
    color: var(--p_main_color_2);
  }
}

.cn-header .sub-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 0px);
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  opacity: 0;
  visibility: hidden;
  overflow: visible;
}

.cn-header .sub-menu.active {
  opacity: 1;
  visibility: visible;
}

.cn-header .sub-menu.active li:first-child a {
  visibility: hidden;
}

.cn-header .sub-menu.active li:first-child .fa {
  position: relative;
}

.cn-header li.clone-menu-item {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.cn-header li.clone-menu-item span {
  display: inline-block;
  padding: 0 5px 0 15px;
  font-size: 36px;
  cursor: pointer;
  vertical-align: middle;
}

.cn-header li.clone-menu-item span.fa {
  position: absolute !important;
  padding: 0;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--primary_color_1);
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
  overflow: visible;

  &:hover {
    color: var(--p_main_color_2);
  }
}

.cn-header li.clone-menu-item .back-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  padding-left: 40px;
}

.cn-header li.clone-menu-item a {
  display: inline-block;
  vertical-align: middle;
}

.cn-header li.clone-menu-item a span {
  display: none;
}

.cn-glossary-item {
  position: relative;
  padding: 30px 10px;
}

.cn-glossary-item:not(:last-child) {
  border-bottom: 1px solid #cccccc;
}

.cn-glossary-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cn-glossary-item__header + .cn-glossary-item__desc {
  margin-top: 20px;
}

.cn-glossary-item__audio-box {
  position: relative;
  margin-left: 10px;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  span {
    display: flex;
  }
}

.cn-glossary-item__title {
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  line-height: 1.5;
  text-transform: none;
}

.cn-glossary-item__desc {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  margin-top: 10px !important;

  p {
    margin-bottom: 0;
  }
}

.cn-glossary-item__audio {
  margin-top: 0;
  position: absolute;
  top: 0;
  opacity: 0.000000001;
  cursor: pointer;
}

.cn-glossary-item__audio--full {
  width: calc(100% - 20px);
  height: 100%;
}

.cn-glossary-item .cn-btn-icon .fa {
  font-size: 40px;
  color: var(--primary_color_2);
}

.cn-glossary-item .cn-btn-icon.player-init audio{
  width: 0;
}
.cn-glossary-item .cn-btn-icon.player-init .fa {
  font-size: 28px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "\f04c";
    vertical-align: middle;
  }
}

.cn-header-clone {
  height: 51px;
}

/* ADMIN BAR */
.admin-bar .cn-header--fixed {
  top: 32px;
}

@media screen and (max-width: 782px) {
  .admin-bar .cn-header--fixed {
    top: 46px;
  }
}

@media screen and (max-width: 600px) {
  div[id="wpadminbar"] {
    position: fixed !important;
  }
}

.cn-header__nav__inner-links {
  margin-top: auto;
  padding: 30px 35px;

  a {
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    border: 2px solid var(--primary_color_3);
    background-color: var(--primary_color_1);
    color: var(--primary_color_6);
    text-decoration: none;
  }
}


// LINKS

.cn-next-back-links {
  padding: 30px 20px;

  .cn-next-back-links-wrap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
  }

  a {
    width: 50%;
    text-decoration: none;
    position: relative;

    h3, p {
      margin: 0;
    }
  }

  &--prev {
    padding: 0 10px 0 65px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      transform: rotate(-45deg) translate(50%);
      left: 0;
      top: 50%;
      border-top: 6px solid var(--primary_color_2);
      border-left: 6px solid var(--primary_color_2);
    }
  }

  &--next {
    padding: 0 65px 0 10px;

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      transform: rotate(45deg) translate(-50%);
      right: 0;
      top: 50%;
      border-top: 6px solid var(--primary_color_2);
      border-right: 6px solid var(--primary_color_2);
    }
  }

  .cn-next-back-links__link-wrap {
    border: 1px solid var(--primary_color_2);
    padding: 25px;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .cn-next-back-links {
    &--prev {
      padding: 0 10px;

      &::before {
        width: 20px;
        height: 20px;
        transform: rotate(-45deg) translate(0);
        left: calc(50% - 10px);
        top: auto;
        bottom: 25px;
        border-width: 4px;
      }
    }

    &--next {
      padding: 0 10px;

      &::before {
        width: 20px;
        height: 20px;
        transform: rotate(45deg) translate(0);
        right: calc(50% - 10px);
        top: auto;
        bottom: 25px;
        border-width: 4px;
      }
    }

    .cn-next-back-links__link-wrap {
      padding: 25px 20px 65px;
    }
  }
}

@media screen and (max-width: 450px) {
  .cn-next-back-links {
    .cn-next-back-links-wrap {
      flex-wrap: wrap;
    }

    a {
      width: 100%;
    }

    &--next {
      margin-top: 25px;
    }
  }

}

// SEARCH
/* ------------------------------------------- */
/* SEARCH */
/* ------------------------------------------- */


.cn-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cn-search__top, .cn-search__bottom {
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  .cn-search__top, .cn-search__bottom {
    padding: 25px 0;
  }
}

.cn-search__top {
  background-color: var(--bg_main_color_2);
}
.cn-search__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-top: 1px solid var(--bg_main_color_2);
  overflow-y: auto;
}

.cn-search__title {
  font-size: 28px;
  font-weight: 600;
  span{
    color: var(--primary_color_3);
  }
}

.cn-search__item {
  padding: 25px 0;
}

.cn-search__item:first-child {
  padding-top: 0;
}

.cn-search__item:last-child {
  padding-bottom: 0;
}

.cn-search__item:not(:last-child) {
  border-bottom: 1px solid var(--bg_main_color_2);
}

.cn-search-form .search-field,
.cn-search-form .search-submit {
  margin: 5px 0;
}

.cn-search-form .search-field {
  width: 290px;
  margin-right: 10px;
}

.cn-search-item__title {
  margin-bottom: 0;
}

.cn-search-item__title a {
  text-decoration: none;
}

.cn-search-item__title a:hover, .cn-search-item__title a:focus {
  text-decoration: none;
}

.cn-search-item__cats {
  font-size: 0;
}

.cn-search-item__cats, .cn-search-item__author {
  margin-top: 10px;
  padding: 0;
}

.cn-search-item__cats-item, .cn-search-item__author {
  font-size: 14px;
}

.cn-search-item__cats-item {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

.cn-search-item__cats-item:not(:last-child):after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
  content: "|";
}

.cn-search-item__cats-item-title {
  font-weight: 400;
}

.cn-search-item__author {
  font-weight: 700;
}

.cn-search-item__author a, .cn-search-item__author .author, .cn-search-item__author .date,
.cn-asset a{
  font-weight: 400;
  text-decoration: none;
  color: var(--primary_color_1);
}

.cn-search-item__text {
  margin-top: 5px;
}

.cn-pagination {
  margin-top: 25px;
  text-align: center;
}

.cn-pagination .page-numbers {
  margin: 0 3px;
  text-decoration: none;
}
.cn-pagination a {
  color: var(--primary_color_3);
}


// SHEET
/* ------------------------------------------- */
/* SHEET */
/* ------------------------------------------- */

.post, .page {
  margin: 0;
}

.cn-sheet {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  padding: 100px 0;
  font-family: "Arial", sans-serif;
}

@media screen and (max-width: 1199px) {
  .cn-sheet {
    padding: 100px 0;
  }
}

.cn-sheet__header, .cn-sheet__footer {
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #FF0000;
  color: #333333;
}

.cn-sheet__header {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 15px 15px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .cn-sheet__header {
    padding: 25px 55px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
  }
}

.cn-sheet__title {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  color: #1E1E1E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  padding: 20px;
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  .cn-sheet__title {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.cn-sheet__description {
  margin: 0 auto;
  border: 2px solid #000000;
  padding: 15px 120px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-top: -5px;
  font-family: "ArialMT", sans-serif;
  max-width: 70%;

  p {
    font-size: 13px;
    font-weight: 700;
    font-family: "ArialMT", sans-serif;
    margin: 10px 0;
    line-height: 1.1;
  }
}

.cn-sheet__description big {
  font-size: 155%;
}

@media screen and (max-width: 991px) {
  .cn-sheet__description {
    width: calc(100% - 30px);
    padding: 15px 20px;
  }
}

.cn-sheet__description b {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 15px;
}

.cn-sheet__description p:empty {
  display: block;
}

.cn-sheet__content {
  padding: 30px 15px;
  line-height: normal;
}

.cn-sheet__content p {
  color: #333333;
  font-family: "ArialMT", sans-serif;
}

.cn-sheet__content {
  h1, h2, h3, h4, h5, h6 {
    font-family: "ArialMT", sans-serif;
  }
}

.cn-sheet__content strong {
  font-family: "ArialMT", sans-serif;
  font-size: 16px;
  font-weight: 900;

  & * {
    font-weight: inherit;
    font-size: inherit;
  }
}

@media screen and (max-width: 1199px) {
  .cn-sheet__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.cn-sheet__content h1, .cn-sheet__content h2, .cn-sheet__content h3, .cn-sheet__content h4, .cn-sheet__content h5, .cn-sheet__content h6 {
  margin-bottom: 0;
  font-weight: 700;
}

.cn-sheet__content h3 {
  font-size: 16px;
  text-transform: none;
}

.cn-sheet__content p {
  font-size: 13px;
  margin-top: 0;
}

.cn-sheet__content h4 {
  font-size: 20px;
}

.cn-sheet__content h5 {
  font-size: 16px;
}

.cn-sheet__info {
  background-color: #E56A54;
  padding: 6px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 30px);
  margin-left: 15px;
  font-size: 12px;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .cn-sheet__info {
    width: 100%;
    padding: 6px 20px;
    margin-left: 0;
  }
}

.cn-sheet__footer {
  position: absolute;
  bottom: 0;
  z-index: 100;
  font-size: 20px;
  padding: 20px 15px;
  line-height: 1;
  width: 100%;
  font-weight: normal;
  margin-top: 25px;
}

@media screen and (max-width: 1199px) {
  .cn-sheet__footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .cn-sheet__footer {
    font-size: 20px;
  }
}

.cn-sheet__black, .cn-sheet__white {
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.cn-sheet__black {
  opacity: 0;
}

.cn-sheet__link {
  width: 100%;
  background-color: #000000;
  padding: 20px 10px;
}

.cn-sheet__link a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  outline: 0;
  border: 1px solid #ffffff;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.cn-sheet__link a:hover {
  background-color: #ffffff;
  color: #000000;
}

.cn-sheet__link a:hover .cn-sheet__black {
  opacity: 1;
}

.cn-sheet__link a:hover .cn-sheet__white {
  opacity: 0;
}

.cn-sheet__link span {
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cn-sheet__link span img {
  height: 40px;
}

@media screen and (max-width: 767px) {
  .cn-sheet__link span img {
    height: 30px;
  }
}

.cn-sheet__title-wrap {
  width: 100%;
}

.cn-sheet__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: #ffffff;
}

.cn-sheet__popup iframe {
  width: 100%;
  height: 100%;
}


.touch .cn-content-wrapp {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.cn-content-wrapp {
  $b: &;
  position: relative;
  padding-top: 56.25%;

  &--img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &--height-auto {
    padding-top: 0;
  }

  &--width {
    width: 80vw;
  }

  &--full-height {
    height: 100vh !important;
  }

  &--full {
    width: 100vw;
    height: 100vh;
    padding-top: 0;
  }

  &--btn {
    .mfp-close, .mfp-close-btn-in .mfp-close & {
      top: 15px;
    }
  }

  iframe,
  object,
  .video-js {

  }
}

.asset-video {
  min-width: 900px;

  .cn-content-wrapp {
    padding-top: 0;
  }
}

/* ------------------------------------------- */
/* POPUP */
/* ------------------------------------------- */
.mfp-bg {
  // transform: translate3d(0, 0, 0);
  opacity: 1;
}

.mfp-wrap {
  // transform: translate3d(0, 0, 0);
}

.mfp-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mfp-close,
.mfp-close-btn-in .mfp-close {
  position: absolute;
  top: 9px;
  right: 30px;
  width: 30px;
  height: 30px;
  opacity: 1;
  min-width: auto;
  border-radius: 0;
  line-height: 32px;
  background-color: var(--p_main_color_2);

  &--black {

  }
}

.cn-user-guest-popup {
  .mfp-close, .mfp-close-btn-in .mfp-close & {
    top: 15px;
  }
}

.page-user-guest-popup-active {
  .cn-header {
    z-index: -1;
  }
}

.cn-popup-wrap {
  .wonderplugin-pdf-iframe {
    min-width: 100vw;
    height: 100vh;
    margin-bottom: 0;
  }
}

/* Fix for bouncing behaviour when scrolling on mobile devices */
div.pdfemb-viewer {
  touch-action: none;
}

canvas.pdfemb-the-canvas {
  touch-action: none;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .pdfemb-pagescontainer {
    overflow: scroll !important;
  }
}


#page-popup {
  position: relative;
  background: var(--p_main_color_2);
}

// TABLE
.cn-table {
  padding: 20px 0 55px ;
}

.cn-table__title {
  margin: 0 0 40px;

  &-underline {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    line-height: 1.5em;
  }
}

.cn-table__text {
  position:relative;
  .wpb_vc_table{
    overflow:auto;
  }
  table {
    margin: 0;
    border-spacing: 0 2px;
    overflow: auto;
    width:100%;

    tr {
      background-color: var(--p_main_color_2);

      td {
        padding: 20px 10px;
        border: none !important;
        min-width: 100px;
        color: #666666;
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  .wpb_vc_table {
    margin-bottom: 20px;
  }
}


// TABS

.cn-tabs {
  position: relative;
}

.cn-tabs__tablist {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  padding-right: 20px;
  margin: 0;
}

.cn-tabs__tablist:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  content: "";
}

.cn-tabs__tablist-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  text-align: center;
  list-style: none;
  margin: 0 1px;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  &.active{
    a{
      color: var(--primary_color_1);
    }
  }
}
@media screen and (max-width: 767px) {
  .cn-tabs__tablist {
    flex-wrap: wrap;
  }
  .cn-tabs__tablist {
    padding-left: 0;
    padding-right: 0;
  }
  .cn-tabs__tablist-item {
    border: 1px solid var(--p_main_color_2);
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0;

  }
}
.cn-tabs__tablist-item a {
  position: relative;
  display: block;
  height: 100%;
  border: 1px solid transparent;
  border-bottom: none;
  -webkit-transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  -o-transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  transition: color 0.3s ease-out, background-color 0.3s ease-out, border 0.3s ease-out;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  padding: 3px;
  color: var(--primary_color_6);
}

.cn-tabs__tablist-item:hover  {
  background-color: var(--primary_color_6);
}
.cn-tabs__tablist-item:hover a {
  color: var(--primary_color_1);
}
.cn-tabs__tablist-item a:focus {
  outline: none;
}

.cn-tabs__tablist-item.active a {
  border-bottom: 0;
}

.cn-tabs__tabpanel {
  overflow: hidden;
}

.cn-tabs__tabpanel-item {
  display: none;
}

.cn-tabs__tabpanel-item.active {
  display: block;
  -webkit-animation: fadeEffectIn 1s;
  animation: fadeEffectIn 1s;
}

@-webkit-keyframes fadeEffectIn {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeEffectIn {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


//TYPOGRAPHY


h1, h2, h3, h4, p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
    line-height: 25px;
  }
}
.cn-search__top input[type="search"].search-field{
  font-size: 16px;
  padding: 7px;
  border-radius: 0;
  border: 2px solid var(--primary_color_1);
}
.cn-search__top input[type="submit"].search-submit{
  display: inline-block;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--primary_color_1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 16px;
  color:  var(--primary_color_1);
  text-align: center;
  padding: 11px 20px;
  text-decoration: none;
  transition: 0.5s;
  border-radius: 0;
  &:hover, &:focus{
    outline: none;
    color:  var(--p_main_color_2);
    background-color: var(--primary_color_1);
  }
}
a.cn-btn{
  display: inline-block;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--primary_color_1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color:  var(--primary_color_1);
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  transition: 0.5s;
  &:hover{
    color:  var(--p_main_color_2);
    background-color: var(--primary_color_1);
  }
}
@media screen and (max-width: 767px) {
  a.cn-btn{
    padding: 15px 25px;
    font-size: 18px;
  }
}
.text-center{
  text-align: center;
}


// VIDEO
.cn-video-tabs {
  padding: 15px;
}

.cn-video-tabs__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 0;
  width: 100%;

  &-underline {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    line-height: 1.5em;
  }
}

.cn-video-tab__tabpanel {
  flex-grow: 1;
  max-width: 980px;
  margin: 0 auto;
  overflow: hidden;
}
.cn-video-tab{
  display: flex;
  flex-wrap: wrap;
}
.cn-video-tab__tablist {
  max-width: 300px;
  margin: 0;
  padding: 0 20px 0 0;
  li{
    list-style: none;
    a {
      width: 280px;
      margin-bottom: 10px;
      text-transform: uppercase;
      padding: 8px 20px;
    }
  }
}
@media screen and (max-width: 991px) {
  .cn-video-tab__tablist {
    max-width: 230px;
    li{
      a {
        width: 210px;
        padding: 8px 20px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .cn-video-tab__tabpanel {
    width: 100%;
    order: 1;
  }
  .cn-video-tab__tablist {
    order: 2;
    max-width: 100%;
    margin: 20px 0 0 ;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    li{
      width: 100%;
      a {
        min-width: 200px;
        width: 100%;

      }
    }
  }
}
.cn-tabs .cn-tabs__tabpanel-item .vjs-poster{
  background-color: var(--p_main_color_2);
}