h1, h2, h3, h4, p {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 200;
}

h4 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 200;
}
@media screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
    line-height: 36px;
  }

  h2 {
    font-size: 28px;
    line-height: 28px;
  }

  h3 {
    font-size: 20px;
    line-height: 20px;
  }
  p {
    font-size: 16px;
    line-height: 25px;
  }
}
a.cn-btn{
  display: inline-block;
  background-color: transparent;
  box-sizing: border-box;
  border: 2px solid var(--primary_color_1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  color:  var(--primary_color_1);
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  transition: 0.5s;
  &:hover{
    color:  var(--p_main_color_2);
    background-color: var(--primary_color_1);
  }
}
@media screen and (max-width: 767px) {
  a.cn-btn{
    padding: 15px 25px;
    font-size: 18px;
  }
}
.text-center{
  text-align: center;
}